@font-face {
  font-family: "Miroslav";
  src: url("../fonts/Мирослав\ Regular.ttf");
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  font-family: "Miroslav";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.background-container {
  background-image: url("../img/flag.png");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.page {
  text-align: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для контраста */
  border-radius: 10px;
  padding: 15px;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 2px solid #333;
  max-width: 100%;
  max-height: 70vh;
}

.score {
  margin: 10px 0;
  font-size: 24px;
  color: #f30909;
}

#speed-indicator {
  top: 10px;
  right: 10px;
  color: rgb(240, 4, 4);
  font-size: 16px;
}


.title {
  margin-bottom: 10px;
  cursor: pointer;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.57) 12%,
    rgba(0, 75, 196, 1) 35%,
    rgba(232, 2, 6, 1) 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px black;
  transform: scale(0.85);
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  from {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(0.85);
  }
}

.subtitle {
  font-size: 20px;
  color: #ffffff;
  position: relative;
  display: inline-block;
  -webkit-text-stroke: 0.5px rgb(90, 26, 26);
}

.muzloo {
  text-align: center;
}

.mobile-controls {
  display: none;
  flex-direction: column;
  align-items: center;
}

.mobile-controls > div {
  display: flex;
  gap: 50px;
}

.control-btn {
  width: 70px;
  height: 70px;
  font-size: 30px;
  border-radius: 50%;
  border: 2px solid #333;
  background: rgba(255, 255, 255, 0.7);
  color: #333;
  cursor: pointer;
}

.control-btn:active {
  background: rgba(200, 200, 200, 0.7);
}

@media (max-width: 768px) {
  .mobile-controls {
    display: flex;
  }

  .muzloo {
    display: none;
  }
}
